MSP.BetterCalm/MSP.BetterCalm.BusinessLogic.Interface/bin/Debug/netcoreapp3.1/MSP.BetterCalm.Domain.pdb
MSP.BetterCalm/MSP.BetterCalm.BusinessLogic.Interface/bin/Debug/netcoreapp3.1/MSP.BetterCalm.BusinessLogic.Interface.dll
MSP.BetterCalm/MSP.BetterCalm.BusinessLogic.Interface/bin/
MSP.BetterCalm/MSP.BetterCalm.BusinessLogic.Interface/obj/
MSP.BetterCalm/MSP.BetterCalm.BusinessLogic.Test/bin/
MSP.BetterCalm/MSP.BetterCalm.BusinessLogic.Test/obj/
MSP.BetterCalm/MSP.BetterCalm.BusinessLogic/bin/
MSP.BetterCalm/MSP.BetterCalm.BusinessLogic/obj/MSP.BetterCalm.BusinessLogic.csproj.nuget.g.props
MSP.BetterCalm/MSP.BetterCalm.BusinessLogic/obj/MSP.BetterCalm.BusinessLogic.csproj.nuget.dgspec.json
MSP.BetterCalm/MSP.BetterCalm.BusinessLogic/obj/
MSP.BetterCalm/MSP.BetterCalm.DataAccess.Test/bin/
MSP.BetterCalm/MSP.BetterCalm.DataAccess/bin/
MSP.BetterCalm/MSP.BetterCalm.DataAccess/obj/
MSP.BetterCalm/MSP.BetterCalm.Domain/bin/Debug/netcoreapp3.1/MSP.BetterCalm.Domain.pdb
MSP.BetterCalm/MSP.BetterCalm.Domain/bin/
MSP.BetterCalm/MSP.BetterCalm.Domain/obj/
MSP.BetterCalm/MSP.BetterCalm.WebApi.Test/bin/
MSP.BetterCalm/MSP.BetterCalm.WebApi.Test/obj/
MSP.BetterCalm/MSP.BetterCalm.WebApi/bin/
MSP.BetterCalm/MSP.BetterCalm.WebApi/obj/
MSP.BetterCalm/MSP.BetterCalm.DataAccess.Test/obj/
MSP.BetterCalm/MSP.BetterCalm.DataAccess.Interface/obj/
MSP.BetterCalm/MSP.BetterCalm.DataAccess.Interface/bin/
