BusinessLogic.Test/obj/Debug/
BusinessLogic.Test/bin/Debug/
Domain/obj/Debug/
Domain/obj/
Domain/bin/Debug/
DataAccess/obj/Debug/
DataAccess/obj/
DataAccess/bin/Debug/
BusinessLogicInterface/obj/Debug/
BusinessLogicInterface/obj/
BusinessLogic.Test/obj/
BusinessLogic/bin/Debug/
BusinessLogic/obj/
BusinessLogicInterface/bin/Debug/
WebApi/obj/Debug/
Model/bin/Debug/
Model/obj/Debug/
WebApi/bin/Debug/net5.0/Model.pdb
WebApi/bin/Debug/net5.0/WebApi.deps.json
WebApi/bin/Debug/net5.0/WebApi.dll
WebApi/bin/Debug/net5.0/WebApi.exe
WebApi/bin/Debug/net5.0/WebApi.pdb
WebApi/bin/Debug/net5.0/WebApi.runtimeconfig.dev.json
WebApi/bin/Debug/
Model/obj/Model.csproj.nuget.dgspec.json
Model/obj/Model.csproj.nuget.g.props
Model/obj/project.assets.json
Model/obj/project.nuget.cache
WebApi/obj/project.assets.json
WebApi/obj/project.nuget.cache
WebApi/obj/WebApi.csproj.nuget.dgspec.json
WebApi/obj/WebApi.csproj.nuget.g.props
